<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>main</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
                <h1>
                    결제(일반)
                </h1>
    <section>
        <div>
            <button onclick="location.href='/window';">결제창</button>
        </div>
    </section>
    <br>
</body>
</html>