{% block container %}
<div>
    {% if people.profile.p_image %}
            <img src="{{ people.profile.p_image.url }}" width= 250, height = 250
                 alt="{{ people.profile.p_image}}">
            {% endif %}
    <h1> {{ people.username }}</h1>
    {% if user == people %}
    <div>
    <a href="{% url 'update' %}">계정정보수정</a>
    </div>
    {% endif %}
    <div>
        <h2>{{ people.profile.nickname }}</h2>
    </div>
    <div>
        {{ people.profile.introduction }}
    </div>
    <div>
        {% for cashbook in people.cashbook_set.all %}
        <div>
            <img src= "{{ cashbook.image_set.first.file.url }}" class="img-fluid"/>
        </div>
        {% endfor %}
    </div>
</div>
{% if user == people %}
    <div>
        <a href="{% url 'profile_edit' %}">프로필 수정</a>
        {% endif %}
{% endblock %}