{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 구경하기</title>
    <style>
    span{
      color:blue;
    }
    .heart {
    }
    
    .heart:hover {
      position: relative;
      cursor:pointer;
      animation: BlowUp 1.2s linear infinite;
    }
    </style>
</head>
<body>
    <form  method= "POST">
        <p>제목: {{cashbooks.title}}</p>
        <p>작성일: {{cashbooks.pub_date}}</p>
        <p>작성내용:{{cashbooks.content}}</p>
        {% if cashbooks.image %}
         <image src = "{{cashbooks.image.url}}" width = "250" height = "250"
         alt = image>  <br>
         {% endif %}              
         {% for hashtag in hashtag.all %}
  <div>
      #{{ hashtag.name }}
  </div>
  {% endfor %}
    </form>

    {% if cashbooks.user == user %} <!--글을 작성한 작성자일 경우만 수정 및 삭제 가능-->
    <a href="{% url 'edit' cashbooks.id %}" class="btn btn-info">Update</a>
    <a href="{% url 'delete' cashbooks.id %}" class="btn btn-primary">Delete</a>
    {% endif %}
<hr>
<h2>댓글 목록</h2>
<!-- cashbooks에 담긴 object 다 출력하고 , 없다면 댓글이 없습니다 출력 -->
    <div>
      {% for comment in cashbooks.comment_set.all %}
        <div>
          <span> {{ comment.user.username }}의 댓글 : </span>  {{ comment.content }}
          {% if comment.user == user %}
          <a href="{% url 'comment_update' cashbooks.id comment.id %}">댓글 수정</a>
          <a href="{% url 'comment_delete' cashbooks.id comment.id %}">댓글 삭제</a>
          {% endif %}
        </div>
      {% empty %}
        <div>댓글이 없습니다.</div>
      {% endfor %}
  </div>
  <hr>
  <!--여기서 부터 댓글입력form -->
  {% if user.is_authenticated %}
  <form action="{% url 'comment_write' cashbooks.id %}" method="POST">
     {% csrf_token %}
     {{ comment_form.as_table }}
     <input type="submit" value="Submit"/>
  </form>
  {% endif %}

  <a href = "{% url 'likes' cashbooks.id %}" >
    <div class = "Set_Heart">
        <strong>좋아요</strong>
        <span class = "heart">
           ❤️</span>
           :{{cashbooks.like_count}}
   </div>
</a>
    
</body>
</html>