{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리의 이야기 만들긔</title>
    <link rel = "stylesheet" href = "{% static 'css/detail.css' %}" type = "text/css">
</head>
<body>
    <button id = "modal-active">댓글 수정</button>
    <div id = "modal-notice" class = "modal-background active">
        <div class = "modal-editpage">
            <a class = "btn-close" id = "modal-close">X</a>
    <form  method= "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
            {% if cashbook.image %}
            <div><image src = "{{cashbook.image.url}}" width = "250" height = "250" alt = "이미지" >  </div>
            {% endif %}
        </table>
        <button type="subimit" class = "btn-submit">작성</button>
    </form>
    </div>
    </div>
<script src = "{% static 'js/detail.js' %}"></script>
//
</body>
</html>