{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav class="header">
      <span class="searchcomponent" style="color: #ff6f0f; font-weight: 800"
        >😀이쁜사진 이카이브
        <form method="POST" action="{% url 'hashtag' %}">
          {% csrf_token %}
          <input
            class="searchbut"
            type=""
            name="search_button"
            value="해시태그를 검색해보세요"
          />
        </form>
      </span>

      <ul>
        {% if user.is_authenticated %}
        <li>{{ user.username }}</li>
        {% endif %}
        <li><a href="{% url 'write' %}">글 작성</a></li>
        <li><a href="{% url 'signup' %}">회원가입</a></li>
        <li><a href="{% url 'hashtag_list' %}">해시태그목록</a></li>
        <li><a href="{% url 'hashtag_add' %}">해시태그추가</a></li>
        <li><a href="{% url 'payment' %}">결제</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">로그아웃</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">로그인</a></li>
  
        {% endif%}
      </ul>
    </nav>
    <div id = "toggle">
      <i class = "indicator"></i>
    </div>

    <span class="clock"></span>
    <div class = "wrapper">
      <nav class = "lil-nav">
        <a href = "#">
          <img src = "{% static 'img/main_1.webp' %}">
        </a>
        <a href = "#">
          <img src = "{% static 'img/main_2.png' %}">
        </a>
        <a href = "#">
          <img src = "{% static 'img/main_3.jpg' %}">
        </a>
        <a href = "#">
          <img src = "{% static 'img/main_4.jpg' %}">
        </a>
        <a href = "#">
          <img src = "{% static 'img/main_5.jpg' %}">
        </a>
      </nav>
      <div class = "gallery">
        <img class = "gallery_img" id = "image_1" src = "{% static 'img/main_1.webp' %}">
        <img class = "gallery_img" id = "image_2" src = "{% static 'img/main_2.png' %}">
        <img class = "gallery_img" id = "image_3" src = "{% static 'img/main_3.jpg' %}">
        <img class = "gallery_img" id = "image_4" src = "{% static 'img/main_4.jpg' %}">
        <img class = "gallery_img" id = "image_5" src = "{% static 'img/main_5.jpg' %}">
        
      </div>
    
  
    </div>  

      

    </div>

    <div class="footer" style="margin-top: 5%">
        <a
          href="https://github.com/khj0426/KCMProject"
          target="_blank"
          id="github_link"
        >
          <img src="{% static 'img/github.png' %}" style="margin-right: 5px" />
        </a>
        멋쟁이사자처럼 10기 최명환 & 김효중
     
    </div>
  </body>
  <script>
  const body = document.querySelector('body');
  const gallery = document.querySelector('.gallery');
  const toggle = document.getElementById('toggle');
  const head = document.querySelector('.header');
   toggle.onclick =function(){
    toggle.classList.toggle('active');
    body.classList.toggle('active');
    gallery.classList.toggle('active');
    head.classList.toggle('active');
   }
    const clock = document.querySelector('.clock');
    function GetTime() {
      const time = new Date();
      const hour = time.getHours().toString().padStart(2, '0');
      const minutes = time.getMinutes().toString().padStart(2, '0');
      const seconds = time.getSeconds().toString().padStart(2, '0');
      clock.innerHTML = hour + ':' + minutes + ':' + seconds;
    }

    setInterval(GetTime, 1000);
  </script>
</html>
